<div id="zuit">

  <section id="zu-top-bar">
    <div class="zu-container">
      <div id="zu-top-bar-blurb">
        We promise your suit will fit perfectly. <a href="#">See how we guarantee this.</a>
      </div>
      <!-- #zu-top-bar-blurb -->
      <div id="zu-top-bar-session">
        <a href="#">Log In / Join Now</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/cart">Shopping Bag <span id="zu-shopping-bag-count"></span></a>
      </div>
      <!-- #zu-top-bar-session -->
    </div>
    <!-- .zu-container -->
  </section>
  <!-- #zu-top-bar -->

  <nav id="zu-navigation">
    <div class="zu-container">
      <a id="zu-home-logo" href="/">
        <img src="<%= asset_path "logo.png" %>" />
      </a>
      <!-- #zu-home-logo -->
      <ul id="zu-menu" href="#">
        <li><a href="#">Our Clothing Line</a></li>
        <li><a href="#">Custom Tailoring</a></li>
        <li><a href="#">Style &amp; Fashion Blog</a></li>
        <li><a href="#">The Art of Suiting</a></li>
        <li><a href="#">About Zuit</a></li>
      </ul>
      <!-- #zu-menu -->
    </div>
    <!-- .zu-container -->
  </nav>
  <!-- #zu-navigation -->

  <section id="zu-section-header">
    <div class="zu-container">
      <h1>Tailored for <span>your</span> body.</h1>
      <h2>Dozens of styles. Made-to-order.</h2>
      <p>Our unique customization process allows you to choose the exact details you want for your suit. From buttons and vents to lining and lapels, simply tell us your preferences and we will build and size it just for you.</p>
      <a id="zu-cta" href="#">Shop Now.</a>
    </div>
    <!-- .zu-container -->
  </section>
  <!-- #zu-section-header -->

  <section id="zu-shop">
    <div class="zu-container">
      <h3>Two-Piece Suits</h3>
      <p class="zu-paragraph-subheader">
        Our 2013 Fall Collection is impeccably tailored to suit any body type. Choose from a variety of options, such as lapel style, number of buttons, skirt or pant bottoms, and fabric lining. Offered at a great price.
      </p>
      <!-- .zu-paragraph-subheader -->
      <ul id="zu-shop-tiles">
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Megan <span>SALE!</span>
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price zu-shop-tile-price-sale">
                <span>$499.90</span>
                $499.90
              </div>
              <!-- .zu-shop-tile-price .zu-shop-tile-price-sale -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Kylie
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Judy
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Emily
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Karen
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Kelly
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
      </ul>
      <!-- #zu-shop-tiles -->
    </div>
    <!-- .zu-container -->
  </section>
  <!-- zu-shop -->

</div>
<!-- #zuit -->












