  <section id="zu-section-item">
    <div class="zu-container">
      <div id="zu-section-item-details">
        <ul id="zu-section-item-social">
          <li><a href="#"><i class="ss-icon ss-social">pinterest</i></a></li>
          <li><a href="#"><i class="ss-icon ss-social">facebook</i></a></li>
          <li><a href="#"><i class="ss-icon ss-social">twitter</i></a></li>
          <li><a href="#"><i class="ss-icon ss-social">tumblr</i></a></li>
        </ul>
        <!-- #zu-section-item-social -->
        <div id="zu-section-item-title">
          <h1>The <span>Kylie</span> Suit <strong>SALE</strong></h1>
          <div id="zu-section-item-price" class="zu-section-item-price-sale">
            <span>$499.90</span>
            $399.90
          </div>
          <!-- #zu-section-item-price -->
        </div>
        <!-- #zu-section-item-title -->
        <h2>Professional, extroverted, &amp; practical.</h2>
        <p>The Kylie Suit is ideal for the professional lady on-the-go, who demands a lot from her outfit. Made with no-wrinkle fabric and designed with the evening in mind, you can wear this suit in the boardroom or at a classy lounge.</p>
        <ul id="zu-section-item-features-1">
          <li>Super 140s - superfine wool for a beautiful drape and exquisite hand-feel.</li>
          <li>100% Australian Merino Wool.</li>
          <li>Italian Designed Fabric.</li>
        </ul>
        <!-- #zu-section-item-features-1 -->
        <ul id="zu-section-item-features-2">
          <li>Super 140s - superfine wool for a beautiful drape and exquisite hand-feel.</li>
          <li>100% Australian Merino Wool.</li>
          <li><a id="zu-open-sizer" href="#zu-sizer">Size me up!</a></li>
        </ul>
        <!-- #zu-section-item-features-2 -->
        <a id="zu-section-item-customize" href="#zu-customize-item">Customize Your Kylie Now.</a>
      </div>
      <!-- .zu-section-item-details -->

      <div id="zu-section-item-images">
        <div id="zu-section-item-image">
          <img src="<%= asset_path "image-placeholder.png" %>" />
        </div>
        <!-- #u-section-item-image -->
        <ul id="zu-section-item-image-thumbnails">
          <li><img src="<%= asset_path "thumbnail-placeholder-1.jpg" %>" /></li>
          <li><img src="<%= asset_path "thumbnail-placeholder-2.jpg" %>" /></li>
          <li><img src="<%= asset_path "thumbnail-placeholder-3.jpg" %>" /></li>
        </ul>
        <!-- #u-section-item-image-thumbnails -->
      </div>
      <!-- #zu-section-item-images -->

    </div>
    <!-- .zu-container -->

  </section>
  <!-- #zu-section-item -->

  <section id="zu-shop">
    <div class="zu-container">
      <h4>Pair with our other <span>great</span> styles.</h4>
      <p class="zu-paragraph-subsubheader">
        Our 2013 Fall Collection is impeccably tailored to suit any body type. Choose from a variety of options, such as lapel style, number of buttons, skirt or pant bottoms, and fabric lining. Offered at a great price.
      </p>
      <!-- .zu-paragraph-subheader -->
      <ul id="zu-shop-tiles">
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Megan <span>SALE!</span>
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price zu-shop-tile-price-sale">
                <span>$499.90</span>
                $499.90
              </div>
              <!-- .zu-shop-tile-price .zu-shop-tile-price-sale -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Kylie
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
        <li class="zu-shop-tile">
          <a class="zu-shop-tile-link" href="#">
            <img src="<%= asset_path "tile-image-placeholder.png" %>" />
            <div class="zu-shop-tile-header">
              <div class="zu-shop-tile-name">
                The Judy
              </div>
              <!-- .zu-shop-tile-name -->
              <div class="zu-shop-tile-price">
                $499.90
              </div>
              <!-- .zu-shop-tile-price -->
            </div>
            <!-- .zu-shop-tile-header -->
            <div class="zu-shop-tile-subheader">
              Strong, successful, and ambitious.
            </div>
            <!-- .zu-shop-tile-subheader -->
          </a>
          <!-- .zu-shop-tile-link -->
        </li>
        <!-- .zu-shop-tile -->
      </ul>
      <!-- #zu-shop-tiles -->
    </div>
    <!-- .zu-container -->
  </section>
  <!-- zu-shop -->


<%= render "/home/test" %>





<div id="zu-sizer" style="display: none;">

  <h1>Personal Online Tailor &#8482;</h1>

  <ul id="zu-sizer-menu">
    <li id="zu-sizer-menu-active">
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
    <li>
      <span class="zu-sizer-menu-label">Neck</span>
      <span class="zu-sizer-menu-value">14.5"</span>
      <span class="zu-sizer-menu-state">v</span>
    </li>
  </ul>
  <!-- #zu-sizer-menu -->

  <div id="zu-sizer-form">
    <label for="zu-sizer-form-value">My Neck Measurement:</label>
    <input id="zu-sizer-form-value" type="text" />
    <div id="zu-sizer-form-radio-buttons">
      <span>
        <input type="radio" />
        <label>Inches</label>
      </span>
      <span>
        <input type="radio" />
        <label>Centimeters</label>
      </span>
    </div>
    <!-- #zu-sizer-form-radio-buttons -->
  </div>
  <!-- #zu-sizer-form -->

  <div id="zu-sizer-save">
    <a href="#">Save My Progress!</a>
  </div>
  <!-- #zu-sizer-save -->

  <div id="zu-sizer-video">
    <video style="background: #333333;"></video>
  </div>
  <!-- #zu-sizer-video -->

  <div id="zu-sizer-instructions">
    <h3>How to Measure Your Neck</h3>
    <p>Notch lapels are the most widely used and most versatile. Peak lapels are for a touch of flair. Slim lapels are more fashion forward, noticeably slimmer than the average suit. We recommend notch or peak lapels for the modern woman.</p>
    <a id="zu-sizer-next" href="#">We need your shoulder measurement.</a>
  </div>
  <!-- #zu-sizer-instructions -->

</div>
<!-- #zu-sizer -->



































