<script>

  $(document).ready(function(){

    $("#zu-slide-wizard>li").each(function(){
      var self = $(this);
      $("#zu-customizer-dots").append("<span>&bull;</span>");
      $(".zu-form-selector li", self).click(function(){

        self.find(".selected").removeClass("selected");
        self.find(".zu-wizard-check").remove();

        $(this).addClass("selected");
        $(this).append( $("<i class=\"ss-icon ss-icon zu-wizard-check\">check</i>") );

        self.find("input[type=hidden]").val( $.trim( $(this).clone().children().remove().end().text() ) );
      }).first().click();
    });


    $("#zu-slide-wizard>li").hide().first().show().addClass("active");
    activatePaneByIndex( 0 );

    $("#zu-customizer-nav .zu-previous").click(function(e){
      var index = $("#zu-slide-wizard>li").index( $("#zu-slide-wizard>li.active") );
      activatePaneByIndex( index - 1 );

      e.preventDefault();
      return false;
    });

    $("#zu-customizer-nav .zu-next").click(function(e){
      var index = $("#zu-slide-wizard>li").index( $("#zu-slide-wizard>li.active") );
      activatePaneByIndex( index + 1 );

      e.preventDefault();
      return false;
    });



    $("#zu-customizer").submit(function(e){
      var valid = true;

      // TODO:
      // form validations


      the_cart.items.push({
        product_id: <%= params[:product_id].present? ? params[:product_id] : 1 %>,
        customizations: parseInputs( $("#zu-customizer").serializeObject() )
      });

      $.cookie("shopping_cart", the_cart);

      document.location = "/cart";

      e.preventDefault();
      return false;
    });

  });

  var activatePaneByIndex = function( index ){
    var size = $("#zu-slide-wizard>li").length;

    $("#zu-slide-wizard>li.active").hide().removeClass("active");
    $("#zu-slide-wizard>li").eq(index).addClass("active").show();

    $("#zu-customizer-dots span").removeClass("active");
    $("#zu-customizer-dots span").eq( index ).addClass("active");


    if( index == 0 ){
      $("#zu-customizer-nav div").hide();
      $("#zu-customizer-nav div.zu-start").show();
    }else if( index+1 == size ){
      $("#zu-customizer-nav div").hide();
      $("#zu-customizer-nav div.zu-end").show();
    }else{
      $("#zu-customizer-nav div").hide();
      $("#zu-customizer-nav div.zu-middle").show();
    }
  }

</script>

<style>
  #zu-slide-wizard .zu-form-selector li{ cursor: pointer; }
  #zu-slide-wizard .selected{ background-color: #eee; }
  #zu-customizer-dots span{ opacity: 0.5; font-size: 1.5em;}
  #zu-customizer-dots span.active{ opacity: 1.0; }
  .zu-wizard-check{ color: green; padding: 5px;}
</style>


<h2>Customize</h2>

<section id="zu-style-picker">
  <div class="zu-container">

    <form id="zu-customizer">
      <ul id="zu-slide-wizard">

        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>
        <%= render "customizer/notch" %>

      </ul>

      <div id="zu-customizer-nav">
        <div class="zu-start">
          <button class="zu-next">Next</button>
        </div>
        <div class="zu-middle">
          <button class="zu-previous">Previous</button>
          <button class="zu-next">Next</button>
        </div>
        <div class="zu-end">
          <button class="zu-previous">Previous</button>
          <input type="submit" value="Add To Your Bag" />
        </div>
      </div>
      <div id="zu-customizer-dots">
      </div>
    </form>

  </div>
</section>

