<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @measurement.user_id %>
</p>

<p>
  <strong>Height:</strong>
  <%= @measurement.height %>
</p>

<p>
  <strong>Neck:</strong>
  <%= @measurement.neck %>
</p>

<p>
  <strong>Shoulder to shoulder:</strong>
  <%= @measurement.shoulder_to_shoulder %>
</p>

<p>
  <strong>Shoulder right:</strong>
  <%= @measurement.shoulder_right %>
</p>

<p>
  <strong>Shoulder left:</strong>
  <%= @measurement.shoulder_left %>
</p>

<p>
  <strong>Bicep:</strong>
  <%= @measurement.bicep %>
</p>

<p>
  <strong>Arm length right:</strong>
  <%= @measurement.arm_length_right %>
</p>

<p>
  <strong>Arm length left:</strong>
  <%= @measurement.arm_length_left %>
</p>

<p>
  <strong>Wrist:</strong>
  <%= @measurement.wrist %>
</p>

<p>
  <strong>Torso length:</strong>
  <%= @measurement.torso_length %>
</p>

<p>
  <strong>Chest:</strong>
  <%= @measurement.chest %>
</p>

<p>
  <strong>Nip to nip:</strong>
  <%= @measurement.nip_to_nip %>
</p>

<p>
  <strong>Stomach:</strong>
  <%= @measurement.stomach %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @measurement.waist %>
</p>

<p>
  <strong>Hip:</strong>
  <%= @measurement.hip %>
</p>

<p>
  <strong>Waist to knee:</strong>
  <%= @measurement.waist_to_knee %>
</p>

<p>
  <strong>Leg right:</strong>
  <%= @measurement.leg_right %>
</p>

<p>
  <strong>Leg left:</strong>
  <%= @measurement.leg_left %>
</p>

<p>
  <strong>Crotch:</strong>
  <%= @measurement.crotch %>
</p>

<p>
  <strong>Thigh:</strong>
  <%= @measurement.thigh %>
</p>

<p>
  <strong>Knee:</strong>
  <%= @measurement.knee %>
</p>

<p>
  <strong>Shoulder type:</strong>
  <%= @measurement.shoulder_type %>
</p>

<p>
  <strong>Chest type:</strong>
  <%= @measurement.chest_type %>
</p>

<p>
  <strong>Stomach type:</strong>
  <%= @measurement.stomach_type %>
</p>

<p>
  <strong>Posture type:</strong>
  <%= @measurement.posture_type %>
</p>

<p>
  <strong>Seat type:</strong>
  <%= @measurement.seat_type %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
